.plant__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plant__icon-wrapper svg {
  width: 25px;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .plant__icon-wrapper svg {
    width: 32px;
  }
}

.plant__line-left,
.plant__line-right {
  display: block;
  width: 25px;
  height: 1px;
  background-color: var(--gray-color);
}

.plant__line-left {
  margin-right: 1rem;
}

.plant__line-right {
  margin-left: 1rem;
}
