.about-page {
  margin: 4rem 2rem 0 2rem;
}

.about-page__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-page__item {
  margin-top: 4rem;
}

.about-page__item:nth-child(1) {
  margin-top: 0;
}

.about-page__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.about-page__text h4,
.about-page__text h5 {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
  margin-top: 3rem;
}
.about-page__text h5 {
  margin-left: 5rem;
  font-size: calc(19px + (31 - 19) * ((100vw - 300px) / (1600 - 300)));
}

.about-page__text h4:nth-child(1) {
  margin-top: 0;
}

.about-page__list {
  margin-left: 5rem;
  margin-right: 4rem;
  list-style: disc;
}

.about-page__material-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-page__text p,
.about-page__list-item {
  margin-top: 0.6rem;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  line-height: 160%;
  word-spacing: 1px;
}

.about-page__list-item {
  margin-top: 1rem;
}

.about-page__list-item p {
  text-align: left;
}

p.about-page__text--hug {
  margin-top: 1.5rem;
}

p.about-page__text--narave {
  margin-top: 0;
}

.about-page__span--bold {
  font-weight: bold;
}

.about-page__span--hash {
  font-weight: bold;
  color: var(--accent-color);
}

/* PLANT */

.about-page__text .plant__icon-wrapper svg {
  width: 20px;
}

.about-page__text .plant__icon-wrapper .plant__line-left,
.about-page__text .plant__icon-wrapper .plant__line-right {
  width: 20px;
}

.about-page__text .plant__icon-wrapper .plant__line-left {
  margin-right: 0.5rem;
}

.about-page__text .plant__icon-wrapper .plant__line-right {
  margin-left: 0.5rem;
}
