.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* BANER */

.main__baner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 700px;
  overflow: hidden;
}

.main__baner-img::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.36;
  z-index: 2;
}

.main__baner a {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

/* NEWS */

.main__news {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .main__news {
    margin-top: 8rem;
  }
}

.main__header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main__header-text--h {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: calc(26px + (38 - 26) * ((100vw - 300px) / (1600 - 300)));
}

/* Slider */

.main__Swiper {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 768px) {
  .main__Swiper {
    margin-top: 6rem;
    margin-bottom: 8rem;
  }
}

.main__Swiper .swiper-slide {
  width: 40%;
  max-width: 200px;
}

@media screen and (min-width: 1100px) {
  .main__Swiper {
    padding-right: 0;
  }

  .main__Swiper .swiper-wrapper {
    justify-content: center;
  }
}

@media screen and (min-width: 1500px) {
  .main__Swiper .swiper-slide {
    max-width: 280px;
  }
}

.swiper-slide a {
  color: #000;
}

.main__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__product-name,
.main__product-price {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main__product-name {
  margin-top: 1rem;
  font-size: calc(13px + (20 - 13) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

.main__product-price {
  margin-top: 0.5rem;
  font-size: calc(11px + (23 - 11) * ((100vw - 300px) / (1600 - 300)));
}

@media screen and (min-width: 540px) {
  .main__product-name {
    font-size: 14px;
  }
  .main__product-price {
    font-size: 13px;
  }
}

@media screen and (min-width: 1500px) {
  .main__product-name {
    font-size: 17px;
  }

  .main__product-price {
    font-size: 15px;
  }
}

/* Description */

.main__description {
  margin-left: 2rem;
  margin-right: 2rem;
}

.main__description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.main__description-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.main__description-text h3 {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: calc(24px + (34 - 24) * ((100vw - 300px) / (1600 - 300)));
}

.main__description-text p {
  margin-top: 0.6rem;
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  line-height: 160%;
  word-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .main__description-item {
    flex-direction: row;
    margin-top: 8rem;
  }

  .main__description-item:nth-last-child(1) {
    flex-direction: row-reverse;
  }

  .main__description-img {
    width: 50%;
  }

  .main__description-text {
    width: 50%;
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 1500px) {
  .main__description-text h3 {
    font-size: 34px;
  }

  .main__description-text p {
    font-size: 22px;
  }
  .main__description-img {
    width: 40%;
  }

  .main__description-item {
    margin-top: 14rem;
  }
  .main__header-text--h {
    font-size: 36px;
  }
}
