.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5rem;
  max-width: 1920px;
}

.collection__title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
}

.collection__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection__card-img {
  max-width: 24rem;
  width: 100%;
}

.collection__card {
  margin: 1rem;
}

.collection__card-title {
  padding: 1rem;
}
