.contact-page {
  min-height: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-page__name {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-family: var(--header-font-family);
  font-weight: var(--header--font-regular);
}

.contact-page__list {
  max-width: 200px;
  margin-top: 5rem;
}

.contact-page__list-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 3rem;
  color: var(--black-color);
}

.contact-page__list-item i {
  font-size: 2rem;
}

.contact-page__list-item span {
  font-family: var(--main-font-family);
  font-size: 1.4rem;
}
