.header {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: var(--header-size);
  padding: 0 1rem;
  background: var(--main-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* MENU */

.header__btn {
  display: block;
  justify-self: self-start;
  padding: 1rem;
}

.header-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -110%;
  width: 80%;
  background-color: var(--main-color);
  transition: left 500ms ease;
  opacity: 1;
  overflow: hidden;
  box-shadow: var(--main-shadow);
  z-index: 200;
}

.header-nav__close-icon-wrapper {
  border-bottom: 1px solid var(--gray-color);
}

.header-nav__close-icon {
  width: fit-content;
  padding: 1.5rem 0;
}

.header-nav__close-icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.header-nav.active {
  left: 0;
}

.header-nav__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem 2rem 2rem 2rem;
}

.header-nav__item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--gray-color);
}

.header-nav__item-collection-wrapper {
  margin-bottom: 1.5rem;
  border: none;
}

.header-nav__item a,
.header-nav__item-collection {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #000;
}
.header-nav__item a {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 50% 50%;
}

.header-nav__item-collection,
.header-nav__item-collection--open {
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
}

.header-nav__item-collection--open {
  font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-weight: var(--main-font-weight);
  justify-content: left;
  align-items: center;
}

.header-nav__collection-left-icon {
  display: flex;
  align-items: center;
  transform: rotate(180deg);
}

.header-nav__right-icon svg {
  width: 9px;
  height: 100%;
}

.header-nav__item-collection--open span:nth-child(2) {
  margin-left: 1.5rem;
}

.header-nav__social-media {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}

.header-nav__social-media a {
  font-size: calc(25px + (37 - 25) * ((100vw - 300px) / (1600 - 300)));
  color: var(--accent-color);
}

/* CSSTransition classes  */

.menu-primary-enter {
  position: absolute;
  transform: translateX(200%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(200%);
  transition: all 500ms ease;
}

.menu-secondary-enter {
  position: absolute;
  transform: translateX(-200%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-secondary-exit {
  position: absolute;
}
.menu-secondary-exit-active {
  transform: translateX(-200%);
  transition: all 500ms ease;
}

/* LOGO */

.header__logo {
  height: 100%;
}

.header__logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header__logo a svg {
  height: 20px;
  max-height: 30px;
}

/* OPTION */

.header__option {
  justify-self: self-end;
}

.header__basket {
  position: relative;
  padding: 1rem;
  cursor: pointer;
}

.header__basket svg {
  width: 2.2rem;
  height: 2.2rem;
}

.header__basket-count {
  position: absolute;
  bottom: 15%;
  right: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  background-color: var(--main-color);
  font-size: 1rem;
  font-weight: var(--main-font-regular);
  color: var(--black-color);
  border-radius: 50%;
}

/* BASKET DROPDOWN */

.header__basket-dropdown {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -110%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-color);
  transition: all 500ms ease;
  opacity: 1;
  box-shadow: var(--main-shadow);
  z-index: 200;
}

.header__basket-dropdown.active {
  right: 0;
}

.header__basket-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: auto;
}

.header__basket-empty-title,
.header__basket-empty-text,
.header__basket-empty a {
  margin-top: 3rem;
}

.header__basket-empty svg {
  width: 7rem;
  height: 7rem;
}

.header__basket-empty-title {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
}
.header__basket-empty-text {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

.header__basket-item-list {
  overflow-y: auto;
  width: 100%;
}

.header__basket-product {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "image name icon"
    "image quantity price";
  padding: 0 1rem 2rem 1rem;
  margin-top: 2rem;
  border-bottom: 1px solid var(--gray-color);
}

.header__basket-img {
  grid-area: image;
}

.header__basket-product-description {
  grid-area: name;
  padding: 0 1rem;
}

.header__basket-product-name,
.header__basket-product-size,
.header__basket-product-price {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: calc(11px + (23 - 11) * ((100vw - 300px) / (1600 - 300)));
}

.header__basket-product-name {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header__basket-product-size {
  margin-top: 0.5rem;
  color: #bbb;
}

.header__basket-product-price {
  font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.header__basket-product-quantity,
.header__basket-product-icon,
.header__basket-product-price {
  display: flex;
}

.header__basket-product-quantity {
  grid-area: quantity;
  margin-left: 1rem;
  /* justify-content: center; */
  align-items: flex-end;
}

.header__basket-product-counter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95px;
  border: 1px solid var(--gray-color);
  border-radius: 10px;
}

.header__basket-product-counter {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
}

.header__basket-product-btn-plus,
.header__basket-product-btn-minus {
  padding: 1rem;
  background-color: var(--main-color);
  border: none;
  font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1600 - 300)));
  color: var(--accent-color);
  border-radius: 10px;
}

.header__basket-product-icon {
  grid-area: icon;
  justify-content: flex-end;
}

.header__basket-product-icon svg {
  width: 18px;
  height: 18px;
  overflow: visible;
}

.header__basket-product-price {
  grid-area: price;
  justify-content: flex-end;
  align-items: flex-end;
}

/* BASKET DROPDOWN BOTTOM */

.header__basket-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-top: 1px solid #000;
  padding: 3rem 2rem;
}

.header__basket-summary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #000;
}

.header__basket-bottom a {
  display: block;
  width: 100%;
}
