.topbar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: var(--accent-color);
  z-index: 100;
}

.topbar__text {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: calc(13px + (23 - 13) * ((100vw - 300px) / (1600 - 300)));
}
