.collection-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  margin-top: 4rem;
}

.collection-page__name {
  width: 100%;
  text-align: center;
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: calc(26px + (38 - 26) * ((100vw - 300px) / (1600 - 300)));
}

.collection-page__product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: start;
  width: 100%;
  padding-right: 2rem;
}

@media screen and (min-width: 460px) {
  .collection-page__product-list {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
  }
}

.collection-page__product-item {
  width: 100%;
  max-width: 300px;
  margin-top: 3rem;
  padding-left: 2rem;
}

.collection-page__product-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

.collection-page__product-name,
.collection-page__product-price {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.collection-page__product-name {
  margin-top: 1rem;
  font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

.collection-page__product-price {
  margin-top: 0.5rem;
  font-size: calc(11px + (23 - 11) * ((100vw - 300px) / (1600 - 300)));
}

@media screen and (min-width: 540px) {
  .collection-page__product-name {
    font-size: 14px;
  }
  .collection-page__product-price {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  .collection-page__product-name {
    font-size: 15px;
  }
  .collection-page__product-price {
    font-size: 14px;
  }
}
