.collection-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1920px;
  margin-top: 3rem;
}

.collection-page__name {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-family: var(--header-font-family);
  font-weight: var(--header--font-regular);
}

.collection-page__product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.collection-page__product-item {
  width: 45%;
  max-width: 300px;
  margin: 3rem 0.5rem 0 0.5rem;
}

.collection-page__product-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
}

.collection-page__product-img {
  display: block;
  width: 100%;
}

.collection-page__product-name,
.collection-page__product-price {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-light);
  font-size: 1.2rem;
}

.collection-page__product-name {
  margin-top: 1rem;
  text-align: center;
}

.collection-page__product-price {
  margin-top: 0.5rem;
}
