.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.5rem 3rem;
  margin-top: auto;
  background-color: var(--darker-color-accent);
}

.footer nav {
  width: 320px;
}

.footer__nav ul {
  display: flex;
  justify-content: space-between;
}

.footer__section {
  display: flex;
  flex-direction: column;
}

.footer__section--information {
  margin-right: 0.5rem;
}

.footer__section--find-us {
  margin-left: 0.5rem;
}

.footer__section h6 {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-family: var(--header-font-family);
  font-weight: var(--header-font-bold);
  color: #fff;
}

.footer__section ul {
  display: flex;
  flex-direction: column;
}

.footer__section ul li {
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

.footer__section--find-us ul {
  flex-direction: row;
  justify-content: space-evenly;
}

.footer__section ul li a {
  padding: 1rem 0;
  color: #fff;
}

.footer__social-image {
  font-size: 2.5rem;
}
