.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.footer__nav {
  width: 100%;
}

.footer__nav ul {
  display: flex;
  flex-direction: column;
}

/* INFORMATION */

.footer__section--information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer__section-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.footer__section-text h6 {
  grid-column: 2/3;
  justify-self: center;
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 2px;
}

.footer__section-icon {
  grid-column: 3/4;
  justify-self: right;
  align-self: center;
  margin-right: 2rem;
  transform: rotate(90deg);
  transition: all 500ms linear;
}

.footer__section-icon svg {
  width: 9px;
  height: 100%;
}

.footer__section-icon.active {
  transform: rotate(270deg);
}

.footer__section-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 0;
  transition: all 500ms linear;
  visibility: hidden;
  overflow: hidden;
}

.footer__section-list.active {
  max-height: 400px;
  visibility: visible;
}

.footer__section-list li {
  margin-top: 1.5rem;
  transition: all 500ms linear;
  opacity: 0;
}

.footer__section-list.active li {
  opacity: 1;
}

.footer__section-list li a {
  font-family: var(--main-font-family);
  font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
  color: #000;
  word-spacing: 1px;
}

/* FIND US */

.footer__section--find-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.footer__section--find-us h6 {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 2px;
}

.footer__section--find-us ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer__section-fid-us-item a {
  display: block;
  margin-top: 1rem;
  padding: 1rem;
  font-size: calc(22px + (34 - 22) * ((100vw - 300px) / (1600 - 300)));
  color: var(--accent-color);
}
