.place-order-screen {
  margin-top: 1.5rem;
  padding: 0 1rem;
}

.place-order-screen__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.place-order-screen__li {
  margin-bottom: 1rem;
}

.place-order-screen__li h4 {
  margin-bottom: 0.5rem;
}
