.cart-page {
  margin-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Koszyk pusty */

.cart-page__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cart-page__empty svg {
  width: 8rem;
  height: 8rem;
}

.cart-page__empty-title,
.cart-page__empty-text,
.cart-page__empty a {
  margin-top: 3rem;
}

.cart-page__empty-title {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.cart-page__empty-text {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

/* Koszyk z produktami */

.cart-page__title {
  width: 100%;
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: calc(26px + (38 - 26) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

.cart-page__columns {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.cart-page__products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-page__product {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "image name icon"
    "image quantity price";
  padding: 0 1rem 2rem 1rem;
  margin-top: 2rem;
  border-bottom: 1px solid var(--gray-color);
}

.cart-page__product:nth-child(1) {
  margin-top: 0;
}

.cart-page__image {
  grid-area: image;
}

.cart-page__description {
  grid-area: name;
  padding: 0 1rem;
}

.cart-page__name,
.cart-page__size,
.cart-page__price {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: calc(11px + (23 - 11) * ((100vw - 300px) / (1600 - 300)));
}

.cart-page__name {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cart-page__size {
  margin-top: 0.5rem;
  color: #bbb;
}

.cart-page__price {
  font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.cart-page__quantity,
.cart-page__icon,
.cart-page__price {
  display: flex;
}

.cart-page__quantity {
  grid-area: quantity;
  justify-content: center;
  align-items: flex-end;
}

.cart-page__icon-wrapper {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
}

.cart-page__icon {
  grid-area: icon;
  justify-content: flex-end;
}

.cart-page__icon-wrapper svg {
  width: 20px;
  height: 20px;
  overflow: visible;
  transform: rotateY(180deg);
}

.cart-page__icon-wrapper svg #pokrywa {
  transition: all 300ms ease;
}

.cart-page__icon-wrapper:hover svg #pokrywa {
  transform: rotate(-35deg);
}

.cart-page__price {
  grid-area: price;
  justify-content: flex-end;
  align-items: flex-end;
}

.cart-page__col2 {
  margin-top: 4rem;
}

@media screen and (min-width: 1024px) {
  .cart-page__title {
    font-size: 34px;
  }
  .cart-page__columns {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .cart-page__product {
    grid-template-columns: 0.2fr 0.8fr 0.4fr;
  }

  .cart-page__quantity {
    justify-content: flex-start;
    margin-left: 1rem;
  }
  .product-page__counter {
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .product-page__counter-wrapper {
    width: 80px;
  }

  .product-page__counter-btn-minus,
  .product-page__counter-btn-plus {
    font-size: 16px;
    padding: 0.8rem;
  }

  .cart-page__name,
  .cart-page__size,
  .cart-page__price {
    font-size: 16px;
  }
}

/* Kod rabatowy */

.cart-page__discount-code {
  margin-bottom: 4rem;
}

.cart-page__discount-code-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-page__discount-code-input-wrapper {
  position: relative;
  height: 40px;
  width: 100%;
}

.cart-page__discount-code-input-wrapper input {
  width: 80%;
  height: 40px;
  border: none;
  border-bottom: 1px solid var(--gray-color);
  font-family: var(--main-font-family);
  font-size: 1.4rem;
  transition: all var(--animation-speed) ease;
  outline: none;
}

.cart-page__discount-code-input-wrapper input:focus {
  border-color: var(--accent-color);
}

.cart-page__discount-code-input-wrapper label {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-family: var(--main-font-family);
  font-size: 1.4rem;
  transition: all var(--animation-speed) ease;
  pointer-events: none;
}

.cart-page__discount-code-input-wrapper input:focus ~ label {
  font-size: 1.1rem;
  color: var(--accent-color);
  transform: translateY(-23px);
}

.cart-page__discount-code-input-wrapper input:valid ~ label {
  color: var(--accent-color);
  transform: translateY(-23px);
}

.cart-page-discount-code-btn {
  width: 80%;
}

@media screen and (min-width: 1024px) {
  .cart-page-discount-code-btn {
    font-size: 1.4rem;
  }
}

/* Koszty */

.cart-page__costs {
  margin-bottom: 4rem;
}

.cart-page__products-price,
.cart-page__delivery,
.cart-page__subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-page__products-price,
.cart-page__delivery {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.cart-page__products-price {
  margin-bottom: 3rem;
}

.cart-page__delivery {
  margin-bottom: 4rem;
}

.cart-page__subtotal {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: calc(15px + (27 - 15) * ((100vw - 300px) / (1600 - 300)));
}

@media screen and (min-width: 1024px) {
  .cart-page__products-price,
  .cart-page__delivery {
    font-size: 16px;
  }

  .cart-page__subtotal {
    font-size: 18px;
  }
}
