.cart-page {
  margin-top: 1.5rem;
}

.cart-page__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.cart-page__empty-icon {
  font-size: 2.5rem;
}

.cart-page__empty-title {
  margin-top: 1rem;
}

.cart-page__empty-text {
  margin-top: 1rem;
  text-align: center;
}

.cart-page__empty a {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}

.cart-page__columns,
.cart-page__col1,
.cart-page__col2,
.cart-page__products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-page__col1 {
  padding: 0 1rem;
}

.cart-page__title {
  font-weight: normal;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.cart-page__product {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "image name icon"
    "image quantity price";
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  margin-top: 1rem;
}

.cart-page__image {
  grid-area: image;
}

.cart-page__image img {
  width: 100%;
}

.cart-page__description {
  grid-area: name;
  padding: 0 1rem;
}

.cart-page__name {
  font-size: 0.8rem;
  color: #000;
}

.cart-page__size {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  color: #aaa;
}

.cart-page__quantity {
  grid-area: quantity;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-page__icon {
  grid-area: icon;
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  color: #aaa;
}

.cart-page__price {
  grid-area: price;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.cart-page__col2 {
  margin-top: 1rem;
  padding: 0 1rem;
  width: 100%;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-page__products-price,
.cart-page__delivery,
.cart-page__subtotal {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-areas: "name name price";
  font-size: 0.8rem;
  margin-top: 1.2rem;
}

.cart-page__subtotal {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.cart-page__products-price span:nth-child(1),
.cart-page__delivery span:nth-child(1),
.cart-page__subtotal span:nth-child(1) {
  grid-area: name;
}

.cart-page__products-price span:nth-child(2),
.cart-page__delivery span:nth-child(2),
.cart-page__subtotal span:nth-child(2) {
  grid-area: price;
  text-align: center;
}

.cart-page__btn {
  width: 100%;
  padding: 0.8rem 1.5rem;
  margin-top: 2rem;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 0.8rem;
}
