.delivery-payment-page {
  margin-top: 1.5rem;
  padding: 0 1rem;
}

.delivery-payment-page__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.delivery-payment-page__delivery {
  margin-bottom: 2rem;
}

.delivery-payment-page__delivery > span,
.delivery-payment-page__payment > span {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.delivery-payment-page__delivery-box,
.delivery-payment-page__payment-box {
  background-color: #ddd;
  padding: 0 1rem;
}

.delivery-payment-page-span {
  font-weight: bold;
  font-size: 1rem;
}

.delivery-payment-page-label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.delivery-payment-page__delivery-parcel,
.delivery-payment-page__delivery-courier {
  display: flex;
  width: 100%;
  padding: 1rem 0;
}

.delivery-payment-page__delivery-parcel {
  margin-bottom: 0.5rem;
}

.delivery-payment-page__payment-account {
  padding: 1rem 0;
}

.delivery-payment-page__btn {
  width: 100%;
  padding: 0.8rem 1.5rem;
  margin-top: 2rem;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 0.8rem;
}
