.place-order-page {
  margin-top: 1.5rem;
  padding: 0 1rem;
}

.place-order-page__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.place-order-page__li {
  margin-bottom: 1rem;
}

.place-order-page__li h4 {
  margin-bottom: 0.5rem;
}
