.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  background: #fff;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* MENU */

.header__btn {
  font-size: 1.7rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #000;
    width: 80%;
    height: 100vh;
    padding: 2rem 0;
    z-index: 50;
    transition: 0.5s;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-nav.active {
    left: 0;
  }
}

.header-nav__menu,
.header-nav__social-media {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.header-nav__menu {
  display: grid;
  grid-template-columns: 100%;
}

.header-nav__close {
  font-size: 1.2rem;
  color: #fff;
  text-align: end;
}

.header-nav__item {
  padding: 1rem 0;
  border-bottom: 1px solid #555;
}

.header-nav__item a {
  color: #fff;
}

.header-nav__item.header-nav__dropdown {
  padding: 0;
  border: none;
}

/* DROPDOWN */

.header-nav__dropdown span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 1rem 0;
  border-bottom: 1px solid #555;
}

.header-nav__dropdown-icon {
  font-size: 1.2rem;
  transition: 0.5s;
}

.header-nav__dropdown-icon--rotate {
  transform: rotate(180deg);
}

.header-nav__dropdown-list {
  margin-left: 1rem;
  display: none;
}

.header-nav__dropdown-list--open {
  display: block;
}

.header-nav__dropdown-item a {
  display: block;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid #555;
}

/* SOCIAL MEDIA */

.header-nav__social-media {
  display: flex;
  justify-content: space-evenly;
}

.header-nav__social-media a {
  font-size: 1.5rem;
  color: #fff;
}

/* LOGO */

.header__logo {
  font-size: 1.3rem;
}

.header__logo a {
  color: #000;
}

/* OPTION */

.header__basket {
  position: relative;
  cursor: pointer;
}

.header__basket i {
  font-size: 1.7rem;
}

.header__basket-count {
  position: absolute;
  bottom: -20%;
  right: -20%;
  width: 1rem;
  height: 1rem;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

/* BASKET DROPDOWN */

.header__basket-dropdown {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 3rem;
  right: 0;
  background-color: #000;
  width: 15rem;
  height: 60vh;
  z-index: -10;
  transition: 0.3s;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__basket-dropdown.active {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.header__basket-item-list {
  height: 30%;
  width: 100%;
}

.header__basket-bottom {
  border-top: 1px solid #555;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
  width: 100%;
}

.header__basket-summary {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}

.header__basket-btn {
  width: 80%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
}

.header__basket-btn a {
  display: block;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #000;
}
