:root {
  --main-font-style: "Arial", sans-serif;
  --main-font-size: 1.5rem;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Arial", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  width: 100%;
  padding: 0.8rem 1.5rem;
  margin-top: 2rem;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 0.8rem;
}
