html,
body,
#root,
.App {
  height: 100%;
}

html {
  font-size: 62.5%;
  background-color: var(--main-color);
}

:root {
  --header-size: 54px;

  --main-color: #fff;
  --accent-color: #aa9183;
  /* --accent-color: #5a6b47; */
  --gray-color: #ddd;

  --header-font-family: "Quicksand", sans-serif;
  --header-font-weight: 400;
  --header-font-weight-bold: 700;
  --main-font-family: "Maven Pro", sans-serif;
  --main-font-weight: 400;

  --animation-speed: 500ms;

  --main-border-radius: 20px;
  --main-shadow: 0 0 5px #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: var(--header-size);
  background-color: var(--main-color);
  font-family: var(--main-font-family);
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  padding: 1.2rem 3rem;
  background: var(--accent-color);
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
  color: var(--main-color);
  border-radius: var(--main-border-radius);
  letter-spacing: 1px;
  z-index: 50;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 16px;
  }
}

.btn-disabled {
  background-color: var(--gray-color);
  color: #000;
  box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.2);
}
