.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 1rem 2rem 2rem 2rem;
  background-color: var(--main-color);
  transition: all var(--animation-speed) ease;
  opacity: 0;
  visibility: hidden;
  z-index: 200;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup.visible {
  opacity: 1;
  visibility: visible;
}

.popup__close-icon {
  padding: 1rem;
  font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
  color: var(--accent-color);
  align-self: flex-end;
}

.popup__title {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-size: calc(17px + (29 - 17) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.popup__text {
  margin-bottom: 3rem;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  line-height: 160%;
}

.popup__form {
  width: 100%;
}

.popup__input-wrapper {
  position: relative;
  height: 40px;
  width: 100%;
  margin-bottom: 3rem;
}

.popup__input-text {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid var(--gray-color);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 1.4rem;
  transition: all var(--animation-speed) ease;
  outline: none;
}

.popup__input-text:focus {
  border-color: var(--accent-color);
}

.popup__label {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-size: 1.4rem;
  transition: all var(--animation-speed) ease;
  pointer-events: none;
}

.popup__input-text:focus ~ .popup__label,
.popup__input-text:valid ~ .popup__label {
  font-size: 1.1rem;
  color: var(--accent-color);
  transform: translateY(-23px);
}
