.place-order-page {
  padding-left: 1rem;
  padding-right: 1rem;
}

.place-order-page__title {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.8rem;
  font-family: var(--header-font-family);
  font-weight: var(--header--font-regular);
}

.place-order-page__shipping-address,
.place-order-page__delivery-and-payment,
.place-order-page__products-and-total-price {
  padding: 0 1rem 1rem 1rem;
  border-bottom: 1px solid var(--gray-color);
  margin-bottom: 1.5rem;
}

.place-order-page__name {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: var(--main-font-regular);
  text-transform: uppercase;
}

.place-order-page__name--payment {
  margin-top: 3rem;
}

.place-order-page p,
.place-order-page span {
  font-size: 1.3rem;
  font-weight: var(--main-font-light);
}

.place-order-page p {
  margin-bottom: 0.8rem;
}

.place-order-page__business {
  margin-top: 3rem;
}

.place-order-page__delivery,
.place-order-page__total-price {
  display: flex;
  justify-content: space-between;
}

.place-order-page__products-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.place-order-page__product {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
  margin-bottom: 2rem;
}

.place-order-page__product-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.place-order-page__quantity,
.place-order-page__product-price {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.place-order-page__products-and-total-price {
  margin-bottom: 4rem;
}

.place-order-page__total-price span {
  margin-bottom: 1.5rem;
  font-size: 1.9rem;
  font-weight: var(--main-font-regular);
  text-transform: uppercase;
}
